#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  justify-items: center;

}
/* Tablets (2 columns) */
@media(max-width:992px){
  .products-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .product-card{
    max-width: 100%;
  }

}


/* Mobile (1 column) */
@media(max-width:600px){
  .products-container{
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .product-card{
    max-width: 100%;
    background-color: blue;
  }
}
